#statement{
    margin: 80px auto;
    max-width: 40%;
}
#title{
    text-align: center;
}
ul{
    list-style-type:decimal;
}
img{
    width: 15%;
    display: block;
    margin: 50px auto;

}
h1{
    font-size: 35px;
}
h2{
    font-size: 15px;
    color: #3469A9;
}
p, li{
    line-height: 1.5;
}
h3{
    font-size: 1px;
}